// Dev
.icon-test {
	width: 4rem;
	height: 4rem;
	fill: $primary;
}

.sample-box {
	display: inline-block;
	margin: 0.5rem;
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	text-align: center;
}

.bg-primary {
	background-color: $primary;
	color: $white;
}

.bg-primary-100 {
	background-color: $primary-100;
}

.bg-primary-200 {
	background-color: $primary-200;
}

.bg-primary-300 {
	background-color: $primary-300;
}

.bg-primary-700 {
	background-color: $primary-700;
	color: $white;
}

.bg-primary-800 {
	background-color: $primary-800;
	color: $white;
}

.bg-primary-900 {
	background-color: $primary-900;
	color: $white;
}

.bg-gray-100 {
	background-color: $gray-100;
}

.bg-gray-200 {
	background-color: $gray-200;
}

.bg-gray-300 {
	background-color: $gray-300;
}

.bg-gray-400 {
	background-color: $gray-400;
}

.bg-gray-500 {
	background-color: $gray-500;
	color: $white;
}

.bg-gray-600 {
	background-color: $gray-600;
	color: $white;
}

.bg-gray-700 {
	background-color: $gray-700;
	color: $white;
}

.bg-gray-800 {
	background-color: $gray-800;
	color: $white;
}

.bg-gray-900 {
	background-color: $gray-900;
	color: $white;
}

.bg-shinichi {
	background-color: $shinichi;
	color: $white;
}

.bg-ran {
	background-color: $ran;
	color: $white;
}

.bg-ai {
	background-color: $ai;
	color: $gray-900;
}

.bg-hakase {
	background-color: $hakase;
	color: $white;
}

.bg-heiji {
	background-color: $heiji;
	color: $white;
}

.bg-kazuha {
	background-color: $kazuha;
	color: $gray-900;
}

.bg-kid {
	background-color: $kid;
	color: $gray-900;
}

.bg-sonoko {
	background-color: $sonoko;
	color: $white;
}

.bg-kyogoku {
	background-color: $kyogoku;
	color: $white;
}

.bg-sera {
	background-color: $sera;
	color: $white;
}

.bg-akai {
	background-color: $akai;
	color: $white;
}

.bg-amuro {
	background-color: $amuro;
	color: $gray-900;
}

.bg-tanteidan {
	background-color: $tanteidan;
	color: $white;
}

.bg-keishicho {
	background-color: $keishicho;
	color: $white;
}

.bg-fbi {
	background-color: $fbi;
	color: $white;
}

.bg-kuro {
	background-color: $kuro;
	color: $white;
}
