.Hero {
	position: relative;
	height: 15rem;
	background-color: $primary;
	background-image: url('../images/bg-bricks-fade-dark.png');
}
.Hero__message {
//	position: absolute;
//	left: 0;
//	bottom: 0;
	margin: 0;
	padding: 1rem;
	color: $white;
}

// PC
@media (min-width: $breakpoint-md-min) {
	.Hero__message {
		padding: 1rem 2rem;
	}
}