::placeholder {
	color: $gray-400;
}
::placeholder-shown {
	color: $gray-400;
}

.Search {
//	position: absolute;
//	padding-bottom: 1rem;
	margin: auto auto;
	padding: 0 2rem;
	width: 100%;
	
	&.is-sticky {
		position: fixed;
		top: $header-height;
		left: 0;
		z-index: $zindex-search;
		overflow: hidden;
		padding: 0;
		width: 100%;
		height: 3rem;
	}
}
.Search__form {}
.Search__input-keyword {
	display: block;
	padding: 0.5rem 1rem;
	width: 100%;
	background-color: $primary-100;
	border: 0;
	box-shadow: 1px 1px 2px rgba(0,0,0, .1);
	color: $primary-800;
	font-size: 1.25rem;
	@extend .fade;
	
	&:focus {
		background-color: $white;
		border: 0;
//		box-shadow: 1px 1px 2px rgba(0,0,0, .1), inset 0 0 0 2px darken(#ceecff, 5%);
		outline: 0;
	}
}
.Search__option-group {
	padding: 0.5rem 1rem;
	
	input[type="checkbox"] {
		display: none;
	}
}
.Search__checkbox-label {
	position: relative;
	margin: 0;
	display: inline-block;
	padding: 0.125rem 1rem;
	padding-left: 2.25rem;
	background-color: $primary-100;
	border-radius: 1rem;
	box-shadow: 1px 1px 2px rgba(0,0,0, .1);
	color: $gray-600;
	@extend .fade;
}
.checkbox-mark {
	display: block;
	position: absolute;
	left: 0.5rem;
	top: 0;
	width: 1.5rem;
	height: 1.75rem;
	fill: $gray-400;
	@extend .fade;
}
:checked + .Search__checkbox-label {
	background-color: $white;
	color: $green;
	box-shadow: 0 0 0 3px $green-200;
	.checkbox-mark {
		fill: $green;
	}
}
.Search__btn-search {
	padding: 0.5rem 1rem;
	width: 10rem;
	background: none;
	background-color: $primary;
	color: $primary-100;
	font-size: 1.25rem;
}

// Mobile
@media (max-width: $breakpoint-md-max) {
	.Search {
//		width: 100%;
		&.is-sticky {
			top: $header-height-sm;
		}
	}
}

// Tablet
@media (min-width: $breakpoint-sm-min) {
	.Search__option-group {
		padding: 0.5rem 0;
	}
}
