.u-mr-auto {
	margin-right: auto !important;
}

.u-text-center {
	text-align: center !important;
}
.u-text-sm {
	font-size: 0.875rem;
}
.icon-close {
	width: 1.5rem;
	height: 3rem;
	fill: $gray-500;
}
.text-gray {
	color: $gray-600;
}
