// Colors
// --------------------------------------------------
$white: #fff;
$gray-100: #f2f3f8;
$gray-200: #e0e3ef;
$gray-300: #c9cede;
$gray-400: #a7adbf;
$gray-500: #747886;
$gray-600: #555964;
$gray-700: #373a41;
$gray-800: #24252c;
$gray-900: #18191d;
$black: #000;
$black-200: #bbb;

$red:      #ed3232;
$red-200:  lighten($red, 28%);

$blue:     #0e6bff;
$blue-200: lighten($blue, 33%);

$pink:     #e87cc7;
$pink-200: lighten($pink, 18%);

$violet:    #d195ef;
$violet-200: lighten($violet, 15%);

$teal: #318975;
$teal-200: lighten($teal, 35%);

$snow:  #aeccd9;
$snow-200: lighten($snow, 15%);

$aqua:  #41b8ed;
$aqua-200: lighten($aqua, 30%);

$crimson:   #ac3127;
$crimson-200: lighten($crimson, 35%);

$yellow:   #e8c11e;
$yellow-200: lighten($yellow, 30%);

$orange:   #f47b23;
$orange-200: lighten($orange, 25%);

$ivory:    #e6d695;
$ivory-200: lighten($ivory, 15%);

$green:    #34a741;
$green-200: lighten($green, 30%);

$royalblue: #2355db;
$royalblue-200: lighten($royalblue, 30%);

$cian: #2fd6d6;
$cian-200: lighten($cian, 30%);

$beige:    #a79881;
$beige-200: lighten($beige, 30%);

$terracotta: #A95045;

$primary: $terracotta;
$primary-100: lighten($primary, 50%);
$primary-200: lighten($primary, 40%);
$primary-300: lighten($primary, 30%);
$primary-700: darken($primary, 10%);
$primary-800: darken($primary, 20%);
$primary-900: darken($primary, 30%);
$secondary: $blue;



// Borders
// --------------------------------------------------
$border-color: #e7ecf0;


// Z-Index
// --------------------------------------------------
$zindex-popover: 1200;
$zindex-header: 1050;
$zindex-search: 1000;


// Break Points
// --------------------------------------------------
$mobile-width:  568px;
$tablet-width:  768px;
$laptop-width:  960px;
$desktop-width: 1280px;

$breakpoint-sm-min: $mobile-width + 1px;
$breakpoint-md-min: $tablet-width + 1px;
$breakpoint-lg-min: $laptop-width + 1px;
$breakpoint-xl-min: $laptop-width + 1px;

$breakpoint-sm-max: $mobile-width;
$breakpoint-md-max: $tablet-width;
$breakpoint-lg-max: $laptop-width;
$breakpoint-xl-max: $laptop-width;


// Layout
// --------------------------------------------------
$side-width: 16rem;


// Header
// --------------------------------------------------
$header-bg: $gray-800;
$header-color: $white;
$header-height: 5rem;
$header-height-sm: 4rem;


// Menu
// --------------------------------------------------
$menu-btn-bg: $gray-800;
$menu-btn-color: $primary;
$menu-btn-bg-hover: $gray-700;
$menu-btn-color-hover: $white;

$menu-bg: rgba($gray-800, .95);
$menu-link: $gray-200;
$menu-link-hover: $primary-100;
$menu-link-bg-hover: rgba($gray-500, .75);


// Anime List
// --------------------------------------------------
$al-thead-bg: $primary-200;
$al-story-bg: $white;